# Part 1: Pandas - from Zero to Hero

## Pandas Series

### First Steps with Pandas Series

In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("titanic.csv")

In [3]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [5]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [6]:
type(titanic["age"])

pandas.core.series.Series

In [7]:
titanic["age"].equals(titanic.age)

True

In [8]:
age = titanic["age"]

In [9]:
age.head(2)

0    22.0
1    38.0
Name: age, dtype: float64

In [10]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [11]:
age.dtype

dtype('float64')

In [12]:
age.shape

(891,)

In [13]:
len(age)

891

In [14]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [15]:
age.info()

<class 'pandas.core.series.Series'>
RangeIndex: 891 entries, 0 to 890
Series name: age
Non-Null Count  Dtype
--------------  -----
714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

In [16]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

###  Analyzing Numerical Series

In [17]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [18]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [19]:
age.count()

np.int64(714)

In [20]:
age.size

891

In [21]:
len(age)

891

In [27]:
age.sum(skipna = True)

np.float64(21205.17)

In [24]:
sum(age)

nan

In [28]:
age.mean()

np.float64(29.69911764705882)

In [29]:
age.median()

np.float64(28.0)

In [30]:
age.std()

np.float64(14.526497332334042)

In [31]:
age.min()

np.float64(0.42)

In [32]:
age.max()

np.float64(80.0)

In [33]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [34]:
len(age.unique())

89

In [36]:
age.nunique(dropna = True)

88

In [37]:
age.value_counts()

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [38]:
age.value_counts(sort = True)

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [39]:
age.value_counts(sort = False)

age
22.00    27
38.00    11
26.00    18
35.00    18
54.00     8
         ..
0.67      1
30.50     2
0.42      1
34.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [40]:
age.value_counts(dropna = True)

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [41]:
age.value_counts(dropna = False)

age
NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
36.50      1
55.50      1
0.92       1
23.50      1
74.00      1
Name: count, Length: 89, dtype: int64

In [ ]:
age.value_counts(ascending = False)

In [ ]:
age.value_counts(ascending = True)

In [ ]:
age.value_counts(sort = True, dropna = True, ascending = False, normalize = False)

In [ ]:
age.value_counts(sort = True, dropna = True, ascending = False, normalize = True)

In [ ]:
30/age.count()

In [ ]:
age.value_counts(sort = True, dropna = False, ascending = False, normalize = True)

In [ ]:
30/age.size

In [ ]:
age.value_counts(sort = True, dropna = True, ascending= False, normalize = False, bins = 5)

In [ ]:
age.value_counts(sort = True, dropna = True, ascending= False, normalize = True, bins = 10)

### Analyzing non-numerical Series

In [43]:
import pandas as pd

In [44]:
summer = pd.read_csv("summer.csv")

In [45]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [46]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [47]:
athlete = summer["Athlete"]

In [48]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [49]:
athlete.tail(5)

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [ ]:
type(athlete)

In [ ]:
athlete.dtype

In [ ]:
athlete.shape

In [ ]:
athlete.describe()

In [ ]:
athlete.size

In [ ]:
athlete.count()

In [ ]:
athlete.min()

In [54]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [55]:
summer.nunique()

Year             27
City             22
Sport            43
Discipline       67
Athlete       22762
Country         147
Gender            2
Event           666
Medal             3
dtype: int64

In [51]:
len(athlete.unique())

22762

In [56]:
athlete

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [60]:
athlete.value_counts().index[0]

'PHELPS, Michael'

In [52]:
athlete.nunique(dropna= False)

22762

In [53]:
athlete.value_counts()

Athlete
PHELPS, Michael          22
LATYNINA, Larisa         18
ANDRIANOV, Nikolay       15
ONO, Takashi             13
MANGIAROTTI, Edoardo     13
                         ..
ZAKA, Uddin               1
ZAFAR, Hayat              1
MUHAMMAD, Rashid          1
MANNA, Muhammad Afzal     1
LIDBERG, Jimmy            1
Name: count, Length: 22762, dtype: int64

In [ ]:
athlete.value_counts(sort = True, ascending=True)

In [ ]:
athlete.value_counts(sort = True, ascending=False, normalize = True).head()

### Creating Pandas Series (Part 1)

In [ ]:
import pandas as pd

#### from DataFrame

In [ ]:
summer = pd.read_csv("summer.csv")

In [ ]:
summer.head()

In [ ]:
summer["Athlete"]

In [ ]:
summer.Athlete

In [ ]:
summer.iloc[0]

#### Importing from CSV

In [ ]:
pd.read_csv("summer.csv", usecols = ["Athlete"], squeeze = True) # old

In [ ]:
pd.read_csv("summer.csv", usecols = ["Athlete"]).squeeze("columns") # new

#### Creating from scratch with pd.Series()

In [ ]:
pd.Series([10,25,6,36,2])

In [ ]:
#pd.Series([10,25,6,36,2], index=["Mon","Tue","Wed","Thu", "Fri", "Sat"])

In [ ]:
pd.Series([10,25,6,36,2], index=["Mon","Tue","Wed","Thu", "Fri"], name = "Sales")

### Creating Pandas Series (Part 2)

#### from Numpy Array

In [82]:
import pandas as pd
import numpy as np

In [83]:
sales = np.array([10,25,6,36,2])
sales

array([10, 25,  6, 36,  2])

In [84]:
one = (pd.Series(sales))

#### from List

In [85]:
sales = [10,25,6,36,2]

In [86]:
two = pd.Series(sales)

In [87]:
one

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [88]:
two

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [96]:
one == two

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [94]:
one.info

<bound method Series.info of 0    10
1    25
2     6
3    36
4     2
dtype: int64>

In [95]:
two.info

<bound method Series.info of 0    10
1    25
2     6
3    36
4     2
dtype: int64>

In [98]:
one==two

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [97]:
one.equals(two)

True

#### from Dictionary

In [66]:
dic = {"Mon":10, "Tue":25, "Wed":6, "Thu": 36, "Fri": 2}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [67]:
sales = pd.Series(dic)

In [68]:
sales

Mon    10
Tue    25
Wed     6
Thu    36
Fri     2
dtype: int64

In [69]:
pd.Series(dic, index = ["Fri", "Sat", "Sun", "Mon", "Tue", "Wed"])

Fri     2.0
Sat     NaN
Sun     NaN
Mon    10.0
Tue    25.0
Wed     6.0
dtype: float64

In [70]:
pd.Series(dic, index = [1,2,3,4,5])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

### Indexing and Slicing

In [99]:
import pandas as pd

In [100]:
titanic = pd.read_csv("titanic.csv")

In [101]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [102]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [103]:
age = titanic.age

In [104]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [105]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [106]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [107]:
age[0]

np.float64(22.0)

In [108]:
age[2]

np.float64(26.0)

In [109]:
age.iloc[-1]

np.float64(32.0)

In [110]:
age[890]

np.float64(32.0)

In [111]:
age[[3,4]]

3    35.0
4    35.0
Name: age, dtype: float64

In [112]:
age.loc[:3]

0    22.0
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64

In [113]:
summer = pd.read_csv("summer.csv", index_col = "Athlete")

In [114]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [115]:
event = summer.Event

In [116]:
event.head()

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [117]:
event.tail()

Athlete
JANIKOWSKI, Damian           Wg 84 KG
REZAEI, Ghasem Gholamreza    Wg 96 KG
TOTROV, Rustam               Wg 96 KG
ALEKSANYAN, Artur            Wg 96 KG
LIDBERG, Jimmy               Wg 96 KG
Name: Event, dtype: object

In [118]:
event.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [119]:
event[0] # deprecated and removed in the future

/var/folders/wz/9scn46_n13sdzr72rp1jfxhc0000gn/T/ipykernel_97325/4291777436.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  event[0] # deprecated and removed in the future

'100M Freestyle'

In [120]:
event[1]  # deprecated and removed in the future

/var/folders/wz/9scn46_n13sdzr72rp1jfxhc0000gn/T/ipykernel_97325/2818332989.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  event[1]  # deprecated and removed in the future

'100M Freestyle'

In [121]:
event.iloc[-1]

'Wg 96 KG'

In [122]:
event.iloc[:3]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [123]:
event["DRIVAS, Dimitrios"]

'100M Freestyle For Sailors'

In [124]:
event[:"DRIVAS, Dimitrios"]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [125]:
event.loc["PHELPS, Michael"]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [126]:
event.loc["PHELPS, Michael"].equals(event["PHELPS, Michael"])

True

In [127]:
#event[:"PHELPS, Michael"]

In [128]:
event.loc[["PHELPS, Michael", "LEWIS, Carl"]]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                     Long Jump
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                     Long Jump
Name: Event, dtype: object

In [129]:
#event[["PHELPS, Michael", "DUCK, Donald"]]

### Sorting and introduction to the  inplace-parameter

In [130]:
import pandas as pd

In [131]:
dic = {1:10, 3:25, 2:6, 4:36, 5:2, 6:0, 7:None}
dic

{1: 10, 3: 25, 2: 6, 4: 36, 5: 2, 6: 0, 7: None}

In [132]:
sales = pd.Series(dic)
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [133]:
sales.sort_index()

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [134]:
sales.sort_index(ascending = True, inplace= True)

In [135]:
sales

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [139]:
sales.sort_values(inplace=False)

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [137]:
sales.sort_values(ascending=False, na_position="last", inplace= True)

In [138]:
sales

4    36.0
3    25.0
1    10.0
2     6.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [ ]:
dic = {"Mon":10, "Tue":25, "Wed":6, "Thu": 36, "Fri": 2}
dic

In [ ]:
sales = pd.Series(dic)

In [ ]:
sales

In [ ]:
sales.sort_index(ascending=False)

### nlargest() and nsmallest()

In [140]:
import pandas as pd

In [141]:
titanic = pd.read_csv("titanic.csv")

In [142]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [143]:
age = titanic.age

In [144]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [145]:
age.sort_values(ascending=False).head(3)

630    80.0
851    74.0
493    71.0
Name: age, dtype: float64

In [155]:
age.sort_values(ascending=True).iloc[:3]

803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

In [156]:
age.nlargest(n = 3).index[0]

np.int64(630)

In [158]:
print(age.nlargest(n = 3))

630    80.0
851    74.0
96     71.0
Name: age, dtype: float64

In [157]:
age.nsmallest(n = 3).index[0]

np.int64(803)

### idxmin() and idxmax()

In [152]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [153]:
titanic.age.idxmax()

630

In [154]:
titanic.age.idxmin()

803

In [ ]:
titanic.loc[630]

In [ ]:
titanic.loc[titanic.age.idxmin()]

In [ ]:
dic = {"Mon":10,"Tue":25, "Wed":6, "Thu":36, "Fri":2, "Sat":0, "Sun":None}
dic

In [ ]:
sales = pd.Series(dic)
sales

In [ ]:
sales.sort_values(ascending=True).index[0]

In [ ]:
sales.idxmin()

In [ ]:
sales.sort_values(ascending=False).index[0]

In [ ]:
sales.idxmax()

### Manipulating Series

In [ ]:
import pandas as pd

In [ ]:
sales = pd.Series([10,25,6,36,2,0,None,5], index = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun", "Mon"])
sales

In [ ]:
sales["Sun"] = 0

In [ ]:
sales

In [ ]:
sales.iloc[3] = 30

In [ ]:
sales

In [ ]:
(sales/1.1).round(2)

In [ ]:
sales_EUR = (sales/1.1).round(2)
sales_EUR

In [ ]:
sales = (sales/1.1).round(2)

In [ ]:
sales

In [ ]:
sales["Mon"] = 0

In [ ]:
sales

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
age = titanic["age"]

In [ ]:
age.head()

In [ ]:
age.tail()

In [ ]:
age.iloc[1] = 30

In [ ]:
age.head()

In [ ]:
titanic.head()