# Part 1: Pandas - from Zero to Hero

## Pandas Index Objects

### First Steps

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [ ]:
summer.head()

In [ ]:
summer.tail()

In [ ]:
summer.info()

In [ ]:
summer.index

In [ ]:
type(summer.index)

In [ ]:
summer.columns

In [ ]:
type(summer.columns)

In [ ]:
summer.axes

In [ ]:
summer.columns[:3]

In [ ]:
summer.index[0]

In [ ]:
summer.index[-1]

In [ ]:
summer.index[100:102]

In [ ]:
summer.columns.tolist()

In [ ]:
summer.index.is_unique

In [ ]:
summer.index.get_loc("DRIVAS, Dimitrios")

### Creating Index Objects

In [ ]:
import pandas as pd

In [ ]:
list_1 = [1,2,3]

In [ ]:
pd.Index(list_1)

In [ ]:
list_2 = ["m", "t", "w"]

In [ ]:
pd.Index(list_2)

In [ ]:
index_1 = pd.Index(range(1,4))
index_1

In [ ]:
index_2 = pd.Index(["Mo", "Tue", "Wed"], name = "days")
index_2

In [ ]:
pd.Series([34,32,21], index = index_1)

### Changing Row Index Labels

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [ ]:
summer.head()

In [ ]:
summer.index

In [ ]:
summer.reset_index(drop = False, inplace=True)

In [ ]:
summer.head()

In [ ]:
summer.set_index("Year", drop = True, inplace = True)

In [ ]:
summer.head()

In [ ]:
summer.index.is_unique

In [ ]:
#summer.index[0] = 1894

In [ ]:
#summer.index = "Before 2016"

In [ ]:
summer.index.size

In [ ]:
new_index = ["Medal_No{}".format(i) for i in range(1,summer.index.size+1)]
new_index

In [ ]:
summer.index = new_index

In [ ]:
summer.head()

In [ ]:
summer.tail()

In [ ]:
summer.index.is_unique

In [ ]:
summer.index.name = "Medal_No"

In [ ]:
summer.reset_index()

### Changing Column Labels

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.columns

In [ ]:
titanic.columns[0]

In [ ]:
#titanic.columns[0] = "Alive"

In [ ]:
titanic.columns = ["Alive", "Class", "Sex", "Age", "SibSp", "ParChi", "Fare", "Emb", "Deck"]

In [ ]:
titanic.head()

In [ ]:
titanic.columns.name

In [ ]:
titanic.columns.name = "Pass_Charact"

In [ ]:
titanic.head()

In [ ]:
titanic.index.name = "Passenger_no"

### Renaming Index & Column Labels

In [1]:
import pandas as pd

In [2]:
summer= pd.read_csv("summer.csv", index_col = "Athlete")

In [3]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [4]:
#summer.index[0] = 'HAYOS, Alfred'

In [5]:
summer.rename(mapper = {"HAJOS, Alfred":'HAYOS, Alfred'}, axis = "index")

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [6]:
summer.rename(index = {"HAJOS, Alfred":'HAYOS, Alfred'}, inplace = True)

In [7]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [8]:
summer.rename(mapper = {"Sex":"Gender", "City":"Host_City"}, axis = "columns")

,Year,Host_City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [9]:
summer.rename(columns = {"Sex":"Gender", "City":"Host_City"}, inplace = True)

In [10]:
summer

,Year,Host_City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze